@font-face {
    font-family: "Seagram";
    src: url("../fonts/past-webfont.woff2") format("woff2"),
    url("../fonts/past-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SpaceAge";
    src: url("../fonts/future-webfont.woff2") format("woff2"),
    url("../fonts/future-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
