@import "~bootstrap/scss/bootstrap";

.gif-item {
  height: 30vh;
}

.gif-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
